body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  height: 50px;
  background-color: #05193e;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

.container {
  width: 80%;
  margin: 20px auto;
}

.projectsPanel {
  margin-top: 20px;
}

.projectItem {
  border: 1px solid;
  border-color: #05193e;
  border-radius: 20px;
  margin-bottom: 20px;
}

.searchToolbar {
  display: flex;
  justify-content: space-around;
}

.searchInput {
  width: 80%;
}
