@import '../style/variables.scss';

#loginContainer {
  width: 30rem;
  margin: 12rem auto 0rem auto;
  padding: 10px;
  border: 1px solid;
  border-radius: 25px;
  background-color: $white-background;

  p {
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 20px;

    span {
      font-weight: bold;
      cursor: pointer;
    }
  }

  input {
    width: 27.7rem;
    padding: 18px;
    font-size: 18px;
    border-radius: 11px;
    border: none;
    margin-top: 1rem;
    background-color: $white;

    &.error {
      margin-bottom: 0px;
    }
  }

  input:disabled {
    background-color: $white;
    cursor: no-drop;
  }

  .errorLabel {
    color: $error-label;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  input:focus,
  button:focus {
    outline: none;
  }

  button {
    border-radius: 10px;
    border: none;
    background-color: #4ca540;
    height: 35px;
    font-size: 20px;
    width: 10rem;
    display: grid;
    margin: 1rem auto 0px auto;
    cursor: pointer;
  }

}